.icon-style {
  font-size: 40px;
  border: 2px solid gray;
  border-radius: 50%; /* Makes it round */
  padding: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: gray;
  color: white;
  margin-right: 30px;
}

.icon-style:hover {
    background-color: maroon;
}