.tool-icon-style {
    font-size: 60px;
    padding-right: 30px;
}

.tool-icon-style:hover {
    color: maroon;
}

.horizontal-list {
    display: flex;
    gap: 50px;
  }

  .horizontal-list li {
    list-style: disc; /* show dot */
    display: list-item;
  }