
.main-container {
  font-family: 'Poppins';
  font-size: clamp(1rem, 1.2vw, 3rem) !important;
}

.custom-underline {
  font-weight: 800;
  display: inline-block;
  border-bottom: 3px solid maroon;  /* Adjust thickness and color */
  padding-bottom: 10px;  /* Adjust the space between text and the underline */
}

.topbar-style {
  background-color: maroon;
  float: left;
}

.topbar-style button {
  background-color: maroon;
  border: 2px solid white;
  float: left;
}

.topbar-style button:hover {
  background-color: transparent;
  border: 2px solid white;
}